<h1>Edit comment</h1>
 
<%= form_for([@post, @comment]) do |f| %>

<div class="container">
<div class="field">
  <p>
    <%= f.label :text %><br>
    <%= f.text_field :text, class: 'form-control', placeholder: 'Description' %>
  </p>
</div>
  <p>
    <%=  f.submit 'Update', :class => 'btn btn-info' %>
  </p>
 
<% end %>

</div>
 
<%= link_to 'Back', post_path %>